body{
    margin: 0;
    background: rgb(105, 69, 52);
    height: 100vh;
    width: 100%;

}


.header{
    width:100%;
    height:5%;
    /* border-width:1px;
    border-style:solid;
    border-radius: 5px;
    border-color:rgb(231, 216, 174); */
    border-top-style: solid;
    border-top-width: 1rem;
    border-top-color:rgb(104, 95, 231); 
    background-color: rgb(201, 188, 188);
    border-radius: 5px;
}

.content{
    margin-left:20%;
    margin-right:20%;
    height:89%;
    padding:1%;
    background-color: rgb(110, 85, 72);
}

.grid-track{
    /* position:absoulute;
    padding-bottom:0.125rem; */
    display:grid;
    /* border-width:1px;
    border-style:solid;
    border-radius: 5px;
    border-color:rgb(231, 216, 174); */
    grid-template-columns:1fr;
    /* padding-left:0.2rem;
    padding-right:0px; */
    height: 100%;
    width:100%;
    row-gap: 0.5rem;
}

.track{
        /* position:absoulute;
    padding-bottom:0.125rem; */
    border-width:1px;
    border-style:solid;
    border-radius: 5px;
    border-color:rgb(231, 216, 174);
    /* border-color:rgb(110, 85, 72); */
    background-color: rgb(110, 85, 72);
    height:1rem;
    /* padding-left:0.2rem;
    padding-right:0px; */
    /* column-gap: 0.5rem; */
}